In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_csv(filepath_or_buffer='C:/Users/jvsn1/Documents/TRN', sep='\t', index_col = 0)

<h1>Basic Informations</h1>

In [4]:
dataset.head()

,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,NIVEL_RELACIONAMENTO_CREDITO01,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
INDEX,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,0,0,0,0,0.135098,1,0.222222,...,0,0,1,1,0,1,1,1,0,1
1,1,0,1,0,0,1,0,0.273504,1,0.111111,...,0,1,0,1,1,0,0,0,1,0
2,1,0,1,0,0,1,0,0.281910,0,1.000000,...,1,1,0,0,0,0,1,0,1,0
3,1,1,1,0,0,0,0,0.225741,0,0.111111,...,1,1,0,1,1,0,1,0,1,0
4,1,1,0,0,0,1,0,0.480403,0,0.111111,...,1,1,1,0,0,1,0,1,1,0

In [5]:
dataset.shape

(389196, 245)

In [6]:
dataset.describe()

,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,NIVEL_RELACIONAMENTO_CREDITO01,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
count,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,3.891960e+05,389196.000000,389196.000000,...,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000,389196.000000
mean,0.889274,0.691952,0.476552,0.296195,0.241179,0.218011,0.186836,4.552049e-01,0.521514,0.134915,...,0.423378,0.417540,0.425708,0.459820,0.440842,0.436896,0.433709,0.440339,0.655449,0.344551
std,0.313793,0.461687,0.499451,0.456579,0.427799,0.412895,0.389781,2.537459e-01,0.499538,0.133136,...,0.494095,0.493154,0.494451,0.498384,0.496489,0.496002,0.495587,0.496428,0.475222,0.475222
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.506237e-16,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.507866e-01,0.000000,0.111111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.375241e-01,1.000000,0.111111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,6.578835e-01,1.000000,0.111111,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<p>As we can see, we have some basic informations:</p>
<ul>
    <li>Shape: (389196, 245)</li>
    <li>Classes: IND_BOM_1_1(~66%) and IND_BOM_1_2(~34%)</li>
</ul>

<h2>Classes (IND_BOM_1_1 and IND_BOM_1_2)</h2>
<p>Here we can join both columns and define IND_BOM_1_1 as 1 and IND_BOM_1_2 as 0. For that we just need to drop the column  IND_BOM_1_1.</p>

In [13]:
dataset = dataset.drop(columns=['IND_BOM_1_2'])

In [39]:
dataset.cov

<bound method DataFrame.cov of         UF_1  UF_2  UF_3  UF_4  UF_5  UF_6  UF_7         IDADE  SEXO_1  \
INDEX
0          1     1     1     0     0     0     0  1.350979e-01       1
1          1     0     1     0     0     1     0  2.735041e-01       1
2          1     0     1     0     0     1     0  2.819095e-01       0
3          1     1     1     0     0     0     0  2.257406e-01       0
4          1     1     0     0     0     1     0  4.804034e-01       0
5          0     1     1     0     0     0     1  2.193229e-01       0
6          1     1     1     0     0     0     0  5.734882e-01       0
7          0     1     0     0     1     0     1  8.343982e-01       1
8          1     1     0     1     0     0     0  3.474494e-01       1
9          1     1     1     0     0     0     0  5.506237e-16       1
10         1     0     1     1     0     0     0  6.547031e-01       0
11         1     1     1     0     0     0     0  9.744373e-02       1
12         1     0     1     0     1     0     0  3.989613e-01       0
13         1     0     0     0     0     1     1  2.292618e-01       1
14         0     1     1     0     0     0     1  7.296139e-01       1
15         1     1     0     0     0     1     0  7.586923e-01       0
16         0     1     0     0     1     1     0  5.365155e-01       1
17         1     1     1     0     0     0     0  1.422539e-01       0
18         1     1     0     0     0     0     1  4.195632e-02       1
19         1     1     0     1     0     0     0  2.385760e-01       1
20         1     1     0     1     0     0     0  6.191503e-01       1
21         0     1     1     1     0     0     0  7.718116e-01       0
22         1     1     0     0     0     0     1  1.607687e-01       1
23         1     1     0     1     0     0     0  5.235097e-01       0
24         1     1     0     0     0     1     0  4.912509e-01       0
25         0     1     1     1     0     0     0  9.072645e-01       0
26         1     1     1     0     0     0     0  1.350979e-01       0
27         1     1     1     0     0     0     0  3.570902e-02       1
28         1     0     1     1     0     0     0  3.539239e-01       0
29         1     0     0     0     1     1     0  6.862804e-01       1
...      ...   ...   ...   ...   ...   ...   ...           ...     ...
389166     1     1     1     0     0     0     0  8.184960e-01       1
389167     1     1     1     0     0     0     0  5.314041e-01       1
389168     1     1     1     0     0     0     0  4.825615e-01       1
389169     1     0     1     0     0     1     0  1.705940e-01       0
389170     1     0     1     0     0     1     0  5.353796e-01       0
389171     1     1     0     0     1     0     0  6.656075e-01       0
389172     1     1     1     0     0     0     0  2.524904e-01       1
389173     1     1     0     0     1     0     0  6.401639e-01       0
389174     1     1     0     0     0     1     0  3.553437e-01       1
389175     1     1     1     0     0     0     0  3.156308e-02       0
389176     1     1     0     0     0     1     0  9.426328e-02       1
389177     1     0     1     0     1     0     0  8.249137e-01       0
389178     1     1     1     0     0     0     0  7.454026e-01       0
389179     1     0     0     1     1     0     0  2.188118e-01       0
389180     1     1     0     0     1     0     0  7.340438e-01       1
389181     1     1     0     0     0     0     1  5.328807e-01       1
389182     1     1     1     0     0     0     0  1.928003e-01       1
389183     1     1     1     0     0     0     0  1.148226e-01       1
389184     1     0     1     0     0     0     1  2.329534e-01       1
389185     1     1     1     0     0     0     0  2.744696e-01       0
389186     1     1     0     0     1     0     0  4.874458e-01       1
389187     1     1     0     0     0     1     0  9.168626e-01       0
389188     1     1     1     0     0     0     0  6.460137e-01       1
389189     1     1     0     0     0     1     0  7.217196e-01       0
389190     0     1     1     0     1     0     0  4.209972e-01       1
389191     1     1     0     0     0     0     1  7.878274e-01       1
389192     1     0     1     0     0     0     1  4.700101e-01       1
389193     0     1     0     1     0     0     1  4.360475e-01       0
389194     1     0     1     0     1     0     0  6.778749e-01       0
389195     1     1     0     0     1     0     0  6.905399e-01       0

        NIVEL_RELACIONAMENTO_CREDITO01     ...       CEP4_6  CEP4_7  CEP4_8  \
INDEX                                      ...
0                             0.222222     ...            0       0       0
1                             0.111111     ...            0       0       1
2                             1.000000     ...            0       1       1
3                             0.111111     ...            0       1       1
4                             0.111111     ...            1       1       1
5                             0.111111     ...            0       0       1
6                             0.111111     ...            1       0       0
7                             0.111111     ...            0       0       1
8                             0.111111     ...            0       1       0
9                             0.111111     ...            0       1       1
10                            0.111111     ...            1       0       1
11                            0.111111     ...            1       0       1
12                            0.111111     ...            0       1       1
13                            0.111111     ...            1       0       0
14                            0.111111     ...            0       1       0
15                            0.111111     ...            0       1       0
16                            0.111111     ...            1       1       0
17                            0.111111     ...            1       1       0
18                            0.111111     ...            0       0       1
19                            0.666667     ...            0       0       0
20                            0.111111     ...            0       0       0
21                            0.111111     ...            1       0       1
22                            0.444444     ...            1       1       1
23                            0.111111     ...            1       1       0
24                            0.111111     ...            0       0       1
25                            0.111111     ...            1       1       1
26                            0.111111     ...            1       0       0
27                            0.111111     ...            1       0       0
28                            0.111111     ...            1       0       1
29                            0.111111     ...            1       0       1
...                                ...     ...          ...     ...     ...
389166                        0.111111     ...            0       0       1
389167                        0.888889     ...            0       1       1
389168                        0.111111     ...            0       0       0
389169                        0.111111     ...            1       1       0
389170                        0.111111     ...            1       0       1
389171                        0.111111     ...            0       0       1
389172                        0.111111     ...            0       1       0
389173                        0.111111     ...            1       0       0
389174                        0.111111     ...            1       0       0
389175                        0.111111     ...            1       1       0
389176                        0.111111     ...            0       0       0
389177                        0.111111     ...            0       1       1
389178                        0.111111     ...            1       0       0
389179                        0.111111     ...            0       1       0
389180                        0.111111     ...            0       0       0
389181                        0.111111     ...            0       0       0
389182                        0.111111     ...            1       0       1
389183                        0.111111     ...            0       1       0
389184                        0.111111     ...            0       0       1
389185                        0.111111     ...            0       1       0
389186                        0.111111     ...            0       1       1
389187                        0.111111     ...            0       0       0
389188                        0.111111     ...            0       0       1
389189                        0.111111     ...            0       0       0
389190                        0.111111     ...            0       1       1
389191                        0.111111     ...            0       0       1
389192                        0.111111     ...            0       1       0
389193                        0.000000     ...            0       1       0
389194                        0.111111     ...            0       0       1
389195                        0.111111     ...            0       1       1

        CEP4_9  CEP4_10  CEP4_11  CEP4_12  CEP4_13  CEP4_14  IND_BOM_1_1
INDEX
0            1        1        0        1        1        1            0
1            0        1        1        0        0        0            1
2            0        0        0        0        1        0            1
3            0        1        1        0        1        0            1
4            1        0        0        1        0        1            1
5            1        0        1        0        0        1            1
6            0        1        1        0        0        0            1
7            0        0        0        1        1        1            1
8            0        0        1        0        1        1            1
9            0        0        0        1        0        0            1
10           0        1        0        0        0        0            0
11           0        1        0        1        0        1            0
12           1        0        1        0        0        0            0
13           0        0        1        0        0        1            1
14           0        1        1        0        1        1            1
15           0        0        1        0        1        1            1
16           0        0        1        1        1        0            1
17           0        1        0        1        0        1            0
18           0        0        0        1        0        1            1
19           0        1        0        1        1        1            1
20           0        1        0        1        1        1            1
21           1        1        0        0        0        0            1
22           0        0        1        0        0        0            1
23           0        0        1        0        1        1            1
24           1        0        1        0        0        0            1
25           0        0        1        1        0        0            1
26           1        1        0        0        1        0            1
27           1        0        1        1        0        0            0
28           0        0        0        1        0        1            0
29           1        1        0        0        0        0            1
...        ...      ...      ...      ...      ...      ...          ...
389166       0        1        0        1        0        1            1
389167       1        0        0        0        0        1            1
389168       0        1        1        0        1        0            0
389169       0        0        0        1        1        1            0
389170       0        0        0        1        1        0            1
389171       1        0        1        1        0        0            1
389172       1        1        0        1        0        0            0
389173       0        1        1        0        0        1            0
389174       0        1        0        1        0        0            1
389175       1        1        1        0        1        0            1
389176       0        1        1        0        0        1            0
389177       1        0        0        1        0        0            1
389178       0        1        1        1        0        0            1
389179       0        1        0        0        1        0            0
389180       1        1        1        0        1        0            1
389181       1        1        0        1        0        0            0
389182       1        0        0        1        0        0            1
389183       1        1        0        0        0        1            1
389184       0        0        0        1        1        1            0
389185       1        0        1        0        1        0            0
389186       1        1        0        1        0        0            1
389187       0        0        1        1        1        1            1
389188       0        1        1        0        0        0            1
389189       0        1        0        0        1        1            0
389190       0        0        1        0        1        1            1
389191       1        1        1        1        0        1            0
389192       1        0        1        0        1        1            1
389193       0        1        0        1        1        0            0
389194       0        0        0        1        1        1            1
389195       0        0        0        1        1        0            1

[389196 rows x 244 columns]>

In [48]:
correlation_matrix = dataset.corr()

In [74]:
correlation_matrix['IND_BOM_1_1'][(correlation_matrix['IND_BOM_1_1'] > 0.1) & (correlation_matrix['IND_BOM_1_1'] < 1.0)]

IDADE                      0.149692
ATUALIZACAO_ENDERECO       0.116064
COMPARATIVO_RENDA_CEP_3    0.153344
Name: IND_BOM_1_1, dtype: float64